@import '../../styles/post';
@import '../../styles/color';



body, html {
  margin: 0;
  padding: 0;
}

// header, .navbar {
//   margin-bottom: 0;
//   padding-bottom: 0;
// }                         //네비 공백 아예 없게

.petstory-page {
  margin-top: 0 !important;
  padding-top: 0 !important;

.banner {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: auto;
  aspect-ratio: 1920/440;
  background-size: cover;        // ✅ 이미지 전체 보이게 (잘림 없음)
  background-position: center;
}
  
   
}
