 .border{ 
        display:flex;
        justify-content: center;
        align-items: center;
        width: 57px;
        height: 30px;
        border-radius:20px
    }

    .titleAlign{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        }

@media (min-width:1024px) and (max-width:1440px){
        .title-align{width:250px;}
    }