/* MainPage.css */

//top section
.hero {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #FAF9F6;
  .hero-left{
    margin-top: 30vh;
    margin-left: 220px;
    flex: 1;
  }
  .hero-right{flex: 1;}
  /*.hero-right-img {
  /* 기본 스타일 (넓은 화면에서 사용될 수 있음) 
     width: 900px;
     max-width: 900px;
     height: 100%;
  }*/
}

//stats section
.stats-section {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 30px;
  text-align: center;
  
    @media (max-width:768px){
      display: inline;
      justify-content: center;
      margin-top: 20px;
    }
  }

.btn-custom{ 
    border-radius: 30px; 
    width:162px;
    height: 50px;
    border:1px solid #3A7F78;
}

/*.volunteer-donation {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}*/

//slide section
.slide-section-wrapper{
  position: relative;
  
  .slide-nav-btn{
    display: flex;
    justify-content: space-between;
    button{all: unset; cursor: pointer;}
  }
  @media (max-width:768px){
    margin-top: 50px;
  }
}

//volunteer-donation post section
.post-section-wrapper{
  position: relative;
  margin-top:18.25vh;
  
}

@media (min-width: 767.99px) and (max-width:1440px) {
  .hero{
    .hero-left{ 
      margin-top: 50px;
      margin-left: 60px;
    }
    .hero-left-img{
      width: 70px;
    }
    .hero-right-img{
      width: 100%;
      max-width: 500px;
      height: auto;
    }
    p{font-size: 0.75rem;}
    h1{font-size: 2.25rem;}
  
  }
  
  
}

@media (min-width:576px) and (max-width:767.98px){
  .hero{
    padding: 0;
    flex-direction: column; //세로 방향으로 정렬
    text-align: center;
    .hero-left{
      width: 100%;
      margin-left: 0;
      margin-top: 0;
    }
 
  .hero-left-img{
    display: none;
  }
  .hero-right{
    width: 100%;
    height: auto;
    order: -1;// .hero-right영역을 hero-left영역 위로 이동
    }
  .hero-right-img{
    width:100%;
    max-width: 400px;
    height: auto;
    }
  }

  
}


@media (max-width:575.98px){

  .hero{
    padding: 0;
    flex-direction: column; //세로 방향으로 정렬
    text-align: center;
    .hero-left{
      width: 100%;
      margin-left: 0;
      margin-top: 0;
    }
 
  .hero-left-img{
    display: none;
  }
  .hero-right{
    width: 100%;
    height: auto;
    order: -1;// .hero-right영역을 hero-left영역 위로 이동
    }
  .hero-right-img{
    width:100%;
    max-width: 400px;
    height: auto;
    }
  }
  
}

 