
//modal 너비 변경
.modal-style{ 
   max-width: 950px; 
   width: 90%;
}

//info section 
.info-wrap{
 display: flex; 
 flex-wrap: wrap;
 width: 830px; height: auto; 
 margin: 0 auto;
}









/* src/styles/_PostModal.scss */

// Bootstrap 변수를 오버라이드하거나 직접 사용


