/*=== main slide css ===*/

.animal-gallery {
 width:1200px;
 height: auto;
 margin: 0 auto;
 padding-left: 10px;
   .img-style{
    width: 100%;
    max-width: 280px;
    height: 280px;
    border-radius: 20px;
    object-fit: cover;
    }

  .search-text-box {
    margin-top: 1vh;
    width: 590px;
    flex-wrap: wrap;
    button{margin-top: 11vh;}
  }
  @media (min-width:1024px) and (max-width:1440px){
     .search-text-box{width:585px;} 
    }
  
  .gallery-row {
    margin-top: 20px;
    display: grid;
    gap: 10px;

    &--1 {
      grid-template-columns: repeat(3, 1fr);
    }

    &--2 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}